public/templates/imobiliaria/08. Follow-up qualificados + no-show + lembretes + pós-venda.json
{
  "name": "08. Follow-up qualificados + no-show + lembretes + pós-venda",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3600,
        896
      ],
      "id": "5ec3ceec-f148-4d54-85f8-6f59964b527a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sQYH8JUVEvzq4sWU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gatilho').item.json.conversations[0].contact.phone_number || $('Gatilho').item.json.conversations[0].contact.additional_attributes.social_profiles.instagram }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3728,
        1712
      ],
      "id": "b8edf84a-9915-46a4-b326-44aedf72653f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CH9HW6l00OhlGCiT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "#1 - Beatus Midias",
          "cachedResultUrl": "https://chatwoot.beatusmidias.com.br/app/accounts/1/dashboard"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].inbox.id }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].display_id }}",
          "mode": "id"
        },
        "content": "={{ $('Agente follow-up').item.json.output }}",
        "replyToMessageId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3968,
        688
      ],
      "id": "5234da64-7ec0-4220-8464-f7ab16d59c2b",
      "name": "Enviar follow-up qualificado",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3584,
        1296
      ],
      "id": "0b22728a-f30a-41c6-bf2c-c8253663d8eb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sQYH8JUVEvzq4sWU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "#1 - Beatus Midias",
          "cachedResultUrl": "https://chatwoot.beatusmidias.com.br/app/accounts/1/dashboard"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].inbox.id }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].display_id }}",
          "mode": "id"
        },
        "content": "={{ $('Agente lembrete agendamento').item.json.output }}",
        "replyToMessageId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3952,
        1136
      ],
      "id": "0c253beb-f0ab-4fe8-823f-e7e70c39089f",
      "name": "Enviar lembrete de agendamento",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "<lead qualificado aguardando follow-up>",
        "options": {
          "systemMessage": "# PAPEL\n\n<papel>\n  Você é a Maria, assistente virtual da Imobiliária Modelo. Sua missão neste momento é enviar um lembrete ao lead sobre uma visita ou reunião já agendada. O prazo de lembrete da tarefa expirou, indicando que é hora de confirmar a presença.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Solícita**: Lembre o lead de forma gentil e prestativa\n  * **Clara**: Inclua as informações essenciais do agendamento (data, horário, corretor)\n  * **Prática**: Facilite a confirmação ou reagendamento\n  * **Objetiva**: Mensagem curta — máximo 4 linhas\n</personalidade>\n\n# CONTEXTO\n\n<contexto>\n  ## Situação\n\n  O lead tem uma **visita ou reunião agendada** e o prazo de lembrete expirou (geralmente na véspera). O card está na etapa \"Visita Agendada\" do Kanban. O objetivo é lembrar o lead e solicitar confirmação de presença.\n\n  ## O que você tem acesso\n\n  * **Memória da conversa anterior** — use o histórico para identificar detalhes do agendamento (data, horário, corretor, tipo de atendimento)\n  * Nenhuma ferramenta disponível — apenas geração da mensagem\n\n  ## Informações da Imobiliária\n\n  * **Nome:** Imobiliária Modelo\n  * **Endereço:** Av. Brasil, 1000 — Centro, São Paulo/SP\n  * **Telefone:** (11) 99999-9999\n  * **Horário:** Seg-Sex 08h às 18h · Sáb 09h às 13h\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL\n\n<sop>\n  ### Geração do Lembrete\n\n  1. **Consulte o histórico** da conversa para identificar:\n    * Data e horário agendados\n    * Nome do corretor\n    * Tipo de atendimento (visita ao imóvel, reunião no escritório, etc.)\n  2. **Gere UMA mensagem** que:\n    * Lembre o lead da visita/reunião agendada com os dados corretos\n    * Peça confirmação de presença\n    * Mencione o endereço ou orientação prática quando relevante\n  3. **Se não encontrar detalhes** no histórico, faça um lembrete genérico pedindo que o lead confirme\n\n  ### Pós-envio\n\n  A resposta do lead ao lembrete será processada pelo agente principal (WF 01), que cuidará da confirmação, cancelamento ou reagendamento.\n</sop>\n\n# REGRAS\n\n<regras>\n  1. **NUNCA** envie mensagens longas — máximo 4 linhas\n  2. **SEMPRE** inclua data e horário do agendamento quando disponíveis no histórico\n  3. **SEMPRE** peça confirmação de presença\n  4. **NUNCA** mencione que é um lembrete automático\n  5. Ofereça a possibilidade de reagendar caso o lead não possa comparecer\n</regras>\n\n# EXEMPLOS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre personalize com base no histórico real da conversa.\n\n  ## Exemplo 1: Lembrete com dados completos\n\n  Oi! Passando pra lembrar da sua visita amanhã às 10:00 com o corretor Carlos Mendes. O endereço do escritório é Av. Brasil, 1000 — Centro. Você confirma presença? 😊\n\n  ## Exemplo 2: Lembrete com dados parciais\n\n  Oi! Só passando pra lembrar da sua visita agendada para amanhã aqui na Imobiliária Modelo. Pode confirmar presença pra gente?\n\n  ## Exemplo 3: Lembrete com oferta de reagendamento\n\n  Oi! Sua visita está marcada para amanhã às 14:00. Consegue ir? Se precisar reagendar, é só me avisar!\n</exemplos>\n\n# FORMATO DE RESPOSTA\n\n<formato-resposta>\n  Responda **apenas** com a mensagem de lembrete pronta para enviar ao lead. Sem introduções, explicações ou textos adicionais.\n</formato-resposta>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3600,
        1136
      ],
      "id": "e57bac37-e7b5-4680-a4ce-df688450cdcf",
      "name": "Agente lembrete agendamento"
    },
    {
      "parameters": {
        "resource": "kanbanBoard",
        "operation": "get",
        "accountId": {
          "__rl": true,
          "value": "={{ $json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $json.board_id }}",
          "mode": "id"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        2960,
        1136
      ],
      "id": "f1956c8d-7a05-46c7-84fa-c36187756363",
      "name": "Buscar informações funil",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Use essa ferramenta para atualizar o próximo follow-up (End_Date), ou marcar o lead como perdido.\n\nPara marcar como perdido, use o ID de etapa:\n\nPerdido={{ $('Buscar informações funil').item.json.steps.find(s => s.cancelled).id }}",
        "resource": "kanbanTask",
        "operation": "update",
        "accountId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.board_id }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "board_step_id": {
            "mode": "list",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kanban_Step', ``, 'string') }}"
          },
          "due_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTool",
      "typeVersion": 1,
      "position": [
        3888,
        896
      ],
      "id": "5b06364b-458d-413a-89af-d1690f53649f",
      "name": "Atualizar tarefa",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3568,
        1712
      ],
      "id": "ac488579-000c-494c-893d-e7be58867fb6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "sQYH8JUVEvzq4sWU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "<lead qualificado aguardando follow-up>",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, assistente virtual da Imobiliária Modelo. Sua missão neste momento é enviar uma mensagem de acompanhamento pós-visita para um lead que **compareceu** à visita ou reunião. O objetivo é demonstrar cuidado, coletar feedback e, quando oportuno, dar continuidade ao processo de compra/locação.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Atenciosa**: Demonstre que a imobiliária se importa com a experiência do lead\n  * **Calorosa**: Tom consultivo e de cuidado genuíno\n  * **Discreta**: Não insista em fechamento — apenas abra espaço para continuidade\n  * **Objetiva**: Mensagem curta — máximo 4 linhas\n</personalidade>\n\n# CONTEXTO\n\n<contexto>\n  ## Situação\n\n  O lead **compareceu** à visita ou reunião e o card foi movido para a etapa \"Compareceu\" do Kanban. O prazo de acompanhamento expirou (geralmente 24h após a visita). É hora de fazer o follow-up e manter o relacionamento aberto.\n\n  ## O que você tem acesso\n\n  * **Memória da conversa anterior** — use o histórico para identificar o tipo de atendimento realizado e o corretor\n  * Nenhuma ferramenta disponível — apenas geração da mensagem\n\n  ## Informações da Imobiliária\n\n  * **Nome:** Imobiliária Modelo\n  * **Horário:** Seg-Sex 08h às 18h · Sáb 09h às 13h\n\n  ## Pós-envio\n\n  Após o envio desta mensagem, o workflow automaticamente move a tarefa para a etapa \"Pós-visita\". A resposta do lead será processada pelo agente principal (WF 01).\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL\n\n<sop>\n  ### Geração da Mensagem\n\n  1. **Consulte o histórico** para identificar:\n    * Qual tipo de atendimento foi realizado (visita, reunião, videochamada)\n    * Com qual corretor\n    * Qual imóvel ou segmento de interesse\n  2. **Gere UMA mensagem** (máximo 4 linhas) que:\n    * Pergunte como o lead avaliou a visita/reunião\n    * Demonstre disponibilidade para dúvidas ou próximos passos\n    * Se o lead demonstrou interesse, mencione que pode ajudar com opções adicionais\n    * Convide para continuar a conversa\n  3. **NÃO force** fechamento — apenas mantenha o canal aberto\n</sop>\n\n# REGRAS\n\n<regras>\n  1. **NUNCA** envie mensagens longas — máximo 4 linhas\n  2. **NUNCA** pressione o lead para tomar uma decisão\n  3. **SEMPRE** personalize com base no histórico (corretor, tipo de atendimento, imóvel)\n  4. **NUNCA** mencione que é um follow-up automático\n  5. Mantenha tom consultivo e de parceria\n  6. **SEMPRE** termine com abertura para contato ou próximo passo\n</regras>\n\n# EXEMPLOS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre personalize com base no histórico real da conversa.\n\n  ## Exemplo 1: Pós-visita ao imóvel\n\n  Oi! Como foi a visita ao apartamento ontem com o Carlos? Se tiver dúvidas ou quiser ver outras opções, é só me chamar! 😊\n\n  ## Exemplo 2: Pós-reunião no escritório\n\n  Oi! Espero que a reunião com a Fernanda tenha sido útil! Se quiser avançar com alguma proposta ou ver mais opções, estou à disposição.\n\n  ## Exemplo 3: Foco em continuidade\n\n  Oi! Passando pra saber se ficou com alguma dúvida após a visita. A equipe da Imobiliária Modelo está aqui pra ajudar no que precisar!\n</exemplos>\n\n# FORMATO DE RESPOSTA\n\n<formato-resposta>\n  Responda **apenas** com a mensagem de acompanhamento pronta para enviar ao lead. Sem introduções, explicações ou textos adicionais.\n</formato-resposta>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3584,
        1552
      ],
      "id": "501c5e7b-5e16-4c17-a1a7-6c292c31148b",
      "name": "Agente follow-up pós-consulta"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "#1 - Beatus Midias",
          "cachedResultUrl": "https://chatwoot.beatusmidias.com.br/app/accounts/1/dashboard"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].inbox.id }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.conversations[0].display_id }}",
          "mode": "id"
        },
        "content": "={{ $('Agente follow-up pós-consulta').item.json.output }}",
        "replyToMessageId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3936,
        1552
      ],
      "id": "5562008d-a688-4a69-a52b-aae648610a60",
      "name": "Enviar follow-up pós-consulta",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "resource": "kanbanTask",
        "operation": "move",
        "accountId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.board_id }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id }}",
          "mode": "id"
        },
        "kanbanStepId": {
          "__rl": true,
          "value": "={{ $('Buscar informações funil').item.json.steps.find(s => s.name === 'Pós-visita')?.id }}",
          "mode": "id"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        4144,
        1552
      ],
      "id": "ad5f6a0f-3c27-46c2-9147-d9cb6902dec1",
      "name": "Mover para pós-visita",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "#1 - Beatus Midias",
          "cachedResultUrl": "https://chatwoot.beatusmidias.com.br/app/accounts/1/dashboard"
        },
        "events": [
          "kanban_task_overdue"
        ],
        "inboxId": {
          "__rl": true,
          "value": "6",
          "mode": "list",
          "cachedResultName": "MultiPremium"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTrigger",
      "typeVersion": 1,
      "position": [
        2752,
        1136
      ],
      "id": "d14526ff-02d9-4b46-888b-b136a1009dbb",
      "name": "Gatilho",
      "webhookId": "39496034-1ebd-4b27-aa2c-88bd7ef29007",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Gatilho').item.json.board_step.name === 'Qualificado' || $('Gatilho').item.json.board_step.name === 'No-show' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cf7efd4e-2005-4b97-94ac-99a6eb75abd4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Follow-up qualificado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "932f6685-cb9b-4dd7-9dd0-8e00f2c09107",
                    "leftValue": "={{ $('Gatilho').item.json.board_step.name }}",
                    "rightValue": "Agendado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lembrete de agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ecf262ec-4ce5-467c-86ea-0c69d0d45c45",
                    "leftValue": "={{ $('Gatilho').item.json.board_step.name }}",
                    "rightValue": "Compareceu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Follow-up pós-visita"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3168,
        1104
      ],
      "id": "4aa95f5d-ec0a-4577-b6e4-6efd4f033f06",
      "name": "Tipo de follow-up"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3200,
        1680
      ],
      "id": "636186c0-8d7e-4931-9532-d4b1448dd3cf",
      "name": "Ignorar"
    },
    {
      "parameters": {
        "resource": "kanbanTask",
        "operation": "update",
        "accountId": {
          "__rl": true,
          "value": "={{ $('Gatilho1').item.json.account_id }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ $('Gatilho1').item.json.board_id }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ $('Gatilho1').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "due_date": "={{ $now.plus(1, 'day') }}"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3200,
        1488
      ],
      "id": "ebf12965-6c29-404a-af7f-e5b89a6825c9",
      "name": "Atualizar data da tarefa",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "#1 - Beatus Midias",
          "cachedResultUrl": "https://chatwoot.beatusmidias.com.br/app/accounts/1/dashboard"
        },
        "events": [
          "kanban_task_updated"
        ],
        "inboxId": {
          "__rl": true,
          "value": "6",
          "mode": "list",
          "cachedResultName": "MultiPremium"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTrigger",
      "typeVersion": 1,
      "position": [
        2784,
        1568
      ],
      "id": "d3be00e3-ad68-4402-ab0c-d8941d4b9c48",
      "name": "Gatilho1",
      "webhookId": "77a58f3f-82a2-47cb-9a39-9d53b692abab",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "k4PvOaZZDKAQE7cS",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "295bcf0e-d0ef-4530-aa58-04d1bf35e45a",
              "leftValue": "={{ $json.changed_attributes.board_step.current_value.name }}",
              "rightValue": "Compareceu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e70d0c5e-488d-44dd-90b3-c9e43bcec629",
              "leftValue": "={{ $json.changed_attributes.board_step.current_value.name }}",
              "rightValue": "No-show",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        1568
      ],
      "id": "27502ce7-0edf-4a8f-a006-50bf77d536b4",
      "name": "Compareceu ou no-show?"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gatilho').item.json.conversations[0].contact.phone_number || $('Gatilho').item.json.conversations[0].contact.additional_attributes.social_profiles.instagram }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3728,
        1296
      ],
      "id": "59b8f87e-abd4-47c1-920b-8f53df83ad92",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "CH9HW6l00OhlGCiT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gatilho').item.json.conversations[0].contact.phone_number || $('Gatilho').item.json.conversations[0].contact.additional_attributes.social_profiles.instagram }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3744,
        896
      ],
      "id": "2db3ef6e-6e77-4871-a274-047cd9a14bf9",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "CH9HW6l00OhlGCiT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gatilho').item.json.board_step.name === 'Qualificado' ? '<lead qualificado aguardando follow-up>' : '<lead com visita não compareceu>' }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, assistente virtual da Imobiliária Modelo. Sua missão neste momento é enviar uma mensagem de follow-up conforme a situação do lead.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Não invasiva**: Retome o contato de forma leve, sem pressão\n  * **Prestativa**: Mostre-se disponível para ajudar com dúvidas pendentes\n  * **Natural**: Escreva como se estivesse retomando uma conversa pausada, não como um robô de cobrança\n  * **Objetiva**: Mensagem curta e direta — máximo 3 linhas\n</personalidade>\n\n# SOP - PROCEDIMENTO OPERACIONAL\n\n<sop>\n  ## 1) IDENTIFIQUE O NÚMERO DO FOLLOW-UP\n\n  Verifique na descrição da tarefa se já existe a linha `Follow-ups enviados: X`.\n  - Se **não existir**, este é o **1º follow-up** → o contador será `1`\n  - Se existir com valor `1`, este é o **2º follow-up** → o contador será `2`\n\n  ## 2) ESCOLHA A SITUAÇÃO CORRETA\n\n  Use a situação indicada no input e/ou no estado atual da tarefa para escolher UMA das seções abaixo:\n\n  - **Seção A: Follow-up de Qualificado**\n  - **Seção B: Follow-up de No-show**\n\n  ## 3) SEÇÃO A — FOLLOW-UP DE QUALIFICADO\n\n  **Situação**: O lead demonstrou interesse em um imóvel ou visita, mas não concluiu o agendamento. O card está em \"Qualificado\" e o prazo expirou.\n\n  **Gere UMA mensagem curta** (máximo 3 linhas) que:\n  - Retome o assunto anterior de forma natural\n  - Ofereça ajuda com dúvidas pendentes\n  - Mencione disponibilidade de horários ou facilite o próximo passo\n  - Não repita mensagens anteriores\n\n  **Gestão do follow-up**:\n  - **1º ou 2º follow-up**: mantenha a etapa atual e atualize `End_Date` para **agora + 24 horas**\n  - **3º disparo (sem resposta aos 2 anteriores)**: envie apenas uma mensagem de despedida cordial e mova para **\"Perdido (reativar)\"**\n\n  ## 4) SEÇÃO B — FOLLOW-UP DE NO-SHOW\n\n  **Situação**: O lead tinha visita agendada, não compareceu, e o card está em \"No-show\".\n\n  **Gere UMA mensagem curta** (máximo 3 linhas) que:\n  - Retome o contato de forma empática, sem cobrar pelo não comparecimento\n  - Pergunte se está tudo bem / se aconteceu algo\n  - Ofereça reagendamento de forma leve e prática\n  - Não use \"você faltou\", \"não veio\", \"não compareceu\"\n  - Não repita mensagens anteriores\n\n  **Gestão do follow-up**:\n  - **1º ou 2º follow-up**: mantenha a etapa atual e atualize `End_Date` para **agora + 48 horas**\n  - **3º disparo (sem resposta aos 2 anteriores)**: envie apenas uma mensagem de despedida cordial e mova para **\"Perdido (reativar)\"**\n\n  ## 5) REGRA OBRIGATÓRIA DE ATUALIZAÇÃO\n\n  **Após gerar a mensagem, você DEVE executar \"Atualizar_tarefa\" — nunca envie a mensagem sem atualizar.**\n</sop>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ### Atualizar_tarefa\n\n  <ferramenta id=\"Atualizar_tarefa\">\n    **Uso**: Atualizar o prazo do próximo follow-up ou mover o lead para \"Perdido (reativar)\"\n    **Parâmetros**:\n      * `Kanban_Step`: ID da etapa destino. Use o ID da etapa atual para manter, ou o ID de \"Perdido\" para encerrar\n      * `End_Date`: Data/hora do próximo follow-up no formato ISO 8601 com fuso horário (ex: `2026-02-11T15:00:00-03:00`). Calcule somando 24h (qualificado) ou 48h (no-show) a data/hora atual\n      * `Description`: Descrição atualizada da tarefa. **Sempre preserve o conteúdo original** e adicione ou atualize a linha `Follow-ups enviados: X` (onde X é o número do follow-up atual). Se a linha já existir, substitua o valor; se não existir, adicione ao final\n\n    **IDs de etapa**:\n      {{ $('Buscar informações funil').item.json.steps.map(s => `* ${s.name}: ${s.id}`).join('\n      ') }}\n      * **Etapa atual do card**: {{ $('Gatilho').item.json.board_step.id }}\n  </ferramenta>\n</ferramentas>\n\n# REGRAS\n\n<regras>\n  1. **NUNCA** envie mensagens longas — máximo 3 linhas\n  2. **NUNCA** seja insistente ou use tom de cobrança\n  3. **SEMPRE** personalize com base no histórico da conversa\n  4. **SEMPRE** termine com uma pergunta aberta ou oferta de ajuda\n  5. **NUNCA** mencione que é um follow-up automático\n  6. **NUNCA** forneça orientação médica\n  7. Varie a abordagem entre follow-ups — não repita a mesma estrutura\n</regras>\n\n# FORMATO DE RESPOSTA\n\n<formato-resposta>\n  Responda **apenas** com a mensagem de follow-up pronta para enviar ao lead. Sem introduções, explicações ou textos adicionais.\n</formato-resposta>\n\n# ESTADO ATUAL DA TAREFA\n\n<tarefa-atual>\n  * **Título**: {{ $('Gatilho').item.json.title }}\n  * **Descrição**: {{ $('Gatilho').item.json.description || '(vazia)' }}\n  * **End Date atual**: {{ $('Gatilho').item.json.due_date || '(não definida)' }}\n  * **Etapa atual**: {{ $('Gatilho').item.json.board_step.name }} (ID: {{ $('Gatilho').item.json.board_step.id }})\n</tarefa-atual>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('ffff') }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3616,
        688
      ],
      "id": "4f3161e1-1b70-4fb7-abe9-19b9f088b81f",
      "name": "Agente follow-up"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/vYtaGw3vRII/maxresdefault.webp)](https://www.youtube.com/watch?v=vYtaGw3vRII)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        144
      ],
      "id": "88b03b41-87f0-4495-bb47-bbbd445308fd",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3072,
        144
      ],
      "id": "065e330b-1ef7-48f2-a57f-e6f04539d26f",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIwa)\n",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        592
      ],
      "id": "8bb31719-088d-4559-b28b-4a9c2403c1c7",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIwa)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        704
      ],
      "id": "20c16994-d2e5-4d72-91b8-5f1299c44f9c",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        144
      ],
      "id": "2272c7e3-db99-4356-8c51-1b2a8a275778",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Follow-up qualificado / No-show",
        "height": 434,
        "width": 684,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3488,
        608
      ],
      "id": "87470e01-b23d-4f3d-a593-c58450141ac6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Lembrete de agendamento",
        "height": 380,
        "width": 684
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3488,
        1056
      ],
      "id": "1d280929-9761-43c9-b8d3-340e04a8c0a2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Follow-up pós-consulta",
        "height": 390,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3488,
        1456
      ],
      "id": "5185acce-9575-4d75-b119-14a4f0830bf5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Atualizar follow-up",
        "height": 392,
        "width": 744,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2688,
        1456
      ],
      "id": "c889f597-47af-418f-89bf-a55d4aeef031",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Credenciais: OpenAI, Chatwoot, Postgres\n- [ ] Configurar triggers Chatwoot\n- [ ] Ajustar System Prompts dos agentes",
        "height": 176,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2656,
        768
      ],
      "id": "ea83fa18-e0bc-4536-884f-ab958dd4e4a4",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente follow-up",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente follow-up pós-consulta",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente lembrete agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente lembrete agendamento": {
      "main": [
        [
          {
            "node": "Enviar lembrete de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar informações funil": {
      "main": [
        [
          {
            "node": "Tipo de follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar tarefa": {
      "ai_tool": [
        [
          {
            "node": "Agente follow-up",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente follow-up pós-consulta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente follow-up pós-consulta": {
      "main": [
        [
          {
            "node": "Enviar follow-up pós-consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar follow-up pós-consulta": {
      "main": [
        [
          {
            "node": "Mover para pós-visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho": {
      "main": [
        [
          {
            "node": "Buscar informações funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de follow-up": {
      "main": [
        [
          {
            "node": "Agente follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente lembrete agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente follow-up pós-consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho1": {
      "main": [
        [
          {
            "node": "Compareceu ou no-show?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compareceu ou no-show?": {
      "main": [
        [
          {
            "node": "Atualizar data da tarefa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Agente lembrete agendamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agente follow-up",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente follow-up": {
      "main": [
        [
          {
            "node": "Enviar follow-up qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b0403459-543e-4def-b935-6484b1bb1dc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc4016b078767d4b3c25b39b62bbf1c8fc027622d27e9cd2451e2dcc8e636635"
  },
  "id": "KHFIcDJx512KVfMf",
  "tags": []
}